.navbar {
  text-align: center;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.07);
  z-index: 1;
  position: fixed;
  background: #FFFFFF;
  padding: 0 15px;
  border-bottom: solid 2px #A5A5A5;
  height: 50px;
  top: 0;
  width: 100%;
}

.navbar li {
    display: inline-block;
}


/* Salvattore */

.column {
  float: left;
}
.size-1of5 {
  width: 20%;
}

.size-1of4 {
  width: 25%;
}
.size-1of3 {
  width: 33.333%;
}
.size-1of2 {
  width: 50%;
}

/* Configurate salvattore with media queries */
@media screen and (max-width: 450px) {
  [data-columns]::before {
    content: '1 .column';
  }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
  [data-columns]::before {
    content: '2 .column.size-1of2';
  }
}

@media screen and (min-width: 701px) and (max-width: 1224px) {
  [data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

@media screen and (min-width: 1225px) and (max-width: 1525px) {
  [data-columns]::before {
    content: '4 .column.size-1of4';
  }
}

@media screen and (min-width: 1526px)  {
  [data-columns]::before {
    content: '5 .column.size-1of5';
  }
}
