.feed-view {
    .tile {
      display: block;
      min-width: 100px;
      min-height: 200px;

      &.loading {
          background-color: black;
          background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
      }

      .tile-image{
        margin: 5px 5px 0px 5px;
      }
      img{
        width: 100%;
      }
    }

    /*.feed {
        height: 100%;
        margin: 60px auto;
        margin-left: 20px;
        width: calc(100% - 220px);
    }

    .list {
        margin: 0 auto;
        clear: both;
        text-align: center;
        width: calc(100vw - 220px);
        margin-top: 10px;
    }

    .list li {
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        background-color: rgba(255, 255, 255, 0.85);
        margin: 10px;
        display: inline-block;
        -webkit-border-radius: 2px;
    }

    .list li a.tile {
        text-decoration: none;
        float: left;
        display: block;
        width: 100%;
    }

    .list li a.tile div.tile-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
       *//* background-image: url(../images/load.gif); *//*
        min-height: 145px;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 2px 2px 0 0;
    }

    .list li .tile-title-holder {
        height: 40px;
        overflow: hidden;
    }

    .list li a.tile h2 {
        padding: 10px 15px;
        font-size: 13.5px;
        color: #555;
        font-weight: 400;
        text-decoration: none;
        margin: 0;
        text-align: left;
        border: 0;
        line-height: 20px;
        text-transform: capitalize;
    }
  */
}